---
import { pathRoutes } from '../../config/pathRoutes';
import LayoutCommon from "../../app/LayoutCommon.astro";
import PublicNavbar from '../../commonComponents/PublicNavbar.astro'
import PublicOrganizationDetails from '../../components/organization/PublicOrganizationDetails';

const { org } = Astro.params;
---

<LayoutCommon>

<div class="max-h-fit">
<PublicNavbar limitedWidth={false}/>	{
		org && <PublicOrganizationDetails client:visible orgSlug = {org}/>
	}

</div>
<LayoutCommon>
