PUBLIC_BASE_URL=
PUBLIC_CRYPTO_PRIVATE_KEY=

PUBLIC_SHOW_NAME_AS_LOGO= # Please provide true if you want to give platform name with logo 

PUBLIC_KEYCLOAK_MANAGEMENT_CLIENT_ID= # Please sepcify your client id
PUBLIC_KEYCLOAK_MANAGEMENT_CLIENT_SECRET= # Please specify your client secrete

PUBLIC_PLATFORM_NAME= # Please specify your paltform name 
PUBLIC_PLATFORM_LOGO= # Please specify your logo file link
PUBLIC_POWERED_BY= # Please specify your powered by org name
PUBLIC_PLATFORM_WEB_URL= # Please specify your platform web URL
PUBLIC_POWERED_BY_URL= # Please specify your support URL
PUBLIC_PLATFORM_DOCS_URL= # Please specify your documentation URL
PUBLIC_PLATFORM_GIT= # Please specify your Github URL
PUBLIC_PLATFORM_SUPPORT_EMAIL= # Please specify your support email 
PUBLIC_PLATFORM_TWITTER_URL= # Please specify your twitter URL
PUBLIC_PLATFROM_DISCORD_SUPPORT= # Please specify your discord support url





