---
import { pathRoutes } from '../config/pathRoutes';
---

<astro>
	<div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
		<header>
			<nav class="bg-white border-gray-200 px-8 py-2.5 dark:bg-gray-800">
				<div
					class="flex flex-wrap justify-between items-center mx-auto max-w-screen px-8"
				>
					<div class="flex">
						<a href="/" class="flex items-center">
							<img
								src="/images/CREDEBL_ICON.png"
								class="mr-2 h-6 sm:h-9"
								alt="CREDEBL Logo"
							/>
							<span
								class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
							>
								CREDEBL</span
							>
						</a>
						<a
							class="text-gray-600 py-2 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-md px-4 lg:px-5 lg:py-2.5 ml-4 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>Pricing</a
						>
						<a
							class="text-gray-600 py-2 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-md px-4 lg:px-3 lg:py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>Documentation</a
						>
						<a
							href="/explore"
							class="text-gray-600 py-2 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-md px-4 lg:px-3 lg:py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>Explore Organizations</a
						>
					</div>
					<div class="flex items-center lg:order-2">
						<a href="https://github.com/credebl" class="mr-3" target="_blank">
							<svg
								class="w-6 h-6 text-gray-800 dark:text-white"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 20 20"
							>
								<path
									fill-rule="evenodd"
									d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
									clip-rule="evenodd"></path>
							</svg>
						</a>
						<a
							href="https://discord.gg/w4hnQT7NJG"
							class="mr-3"
							target="_blank"
						>
							<svg
								class="w-6 h-6 text-gray-800 dark:text-white"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								fill="currentColor"
								viewBox="0 0 21 16"
							>
								<path
									d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"
								></path>
							</svg>
						</a>
						<a
							href={pathRoutes.auth.sinIn}
							class="ml-3 hover:bg-secondary-700 bg-transparent ring-2 text-black font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
							>Sign in</a
						>
						<a
							href={pathRoutes.auth.signUp}
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>Sign Up</a
						>
						<button
							data-collapse-toggle="mobile-menu-2"
							type="button"
							class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
							aria-controls="mobile-menu-2"
							aria-expanded="false"
						>
							<span class="sr-only">Open main menu</span>
							<svg
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
									clip-rule="evenodd"></path></svg
							>
							<svg
								class="hidden w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</button>
					</div>
				</div>
			</nav>
		</header>
		<main class="grow" transition:animate="slide">
			<section class="bg-white dark:bg-gray-900">
				<div class="flex flex-1 flex-col md:flex-row">
					<div class="w-full lg:w-3/5 lg:p-8 md:p-4 ml-8">
						<div class="mt-24">
							<a
								href="https://github.com/credebl/platform/releases"
								class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
								role="alert"
							>
								<span
									class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3"
									>New</span
								>
								<span class="text-sm font-medium"
									>CREDEBL 2.0 is out! See what's new</span
								>
								<svg
									class="ml-2 w-5 h-5"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
										clip-rule="evenodd"></path></svg
								>
							</a>
							<h1
								class="mb-4 text-4xl font-extrabold leading-none text-gray-900 dark:text-white"
							>
								Build Self-Sovereign Identity (SSI) solutions <br /> faster - for
								global scale.
							</h1>
							<p
								class="mt-10 mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
							>
								CREDEBL aims to significantly reduce the tedious work required
								to <br /> build SSI solutions from scratch.
							</p>
							<div
								class="flex flex-col mt-10 mb-8 lg:mb-16 space-y-4 sm:flex-row sm:space-y-0"
							>
								<a
									href="https://docs.credebl.id"
									class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
								>
									Get Started
									<svg
										class="ml-2 -mr-1 w-5 h-5"
										fill="currentColor"
										viewBox="0 0 20 20"
										xmlns="http://www.w3.org/2000/svg"
										><path
											fill-rule="evenodd"
											d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
											clip-rule="evenodd"></path></svg
									>
								</a>
							</div>
						</div>
					</div>
					<div class="w-full flex sm:flex-col lg:w-2/5">
						<img class="w-full" src="/images/half_banner.png" alt="banner" />
					</div>
				</div>
			</section>

			<section class="bg-gray-100 dark:bg-gray-900">
				<div class="flex flex-col justify-center items-center">
					<h2
						class="mb-4 mt-12 text-4xl tracking-tight leading-tight text-center font-extrabold text-gray-900 dark:text-white"
					>
						Build trusted digital ecosystems using the SSI core.
					</h2>
					<p class="text-gray-500 sm:text-xl dark:text-gray-400 text-center">
						CREDEBL helps you build trusted digital ecosystems, by leveraging
						global standards of <a
							href="https://www.w3.org/TR/did-core/"
							target="_blank">W3C Decentralized Identifiers (DID)</a
						> & <br /><a
							href="https://www.w3.org/TR/vc-data-model/"
							target="_blank">Verifiable Credentials (VC)</a
						> standards.
					</p>
				</div>
<div class="flex items-center justify-center p-28">
				<div class="space-y-8 grid grid-cols-2 gap-12 space-y-0">
					<div>
						<div
							class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="21"
								fill="none"
								viewBox="0 0 22 21"
							>
								<path
									fill="#1F4EAD"
									d="M11.398.602c6.076 0 11 4.896 11 10.936 0 4.517-2.754 8.395-6.684 10.063l-2.77-7.164a3.275 3.275 0 0 0 1.754-2.9 3.29 3.29 0 0 0-3.3-3.28 3.29 3.29 0 0 0-3.3 3.28c0 1.259.712 2.35 1.756 2.901l-2.77 7.164C3.153 19.932.398 16.055.398 11.538c0-6.04 4.925-10.936 11-10.936Z"
								></path>
							</svg>
						</div>
						<h3 class="mb-2 text-xl font-bold dark:text-white">
							Open Standards & Open Source
						</h3>
						<p class="text-gray-500 dark:text-gray-400">
							Built upon open standards of W3C Decentralized Identifiers,
							Verifiable Credentials, DIF Protocols & Hyperledger Aries.
						</p>
					</div>
					<div>
						<div
							class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="25"
								height="24"
								fill="none"
								viewBox="0 0 27 26"
							>
								<path
									fill="#1F4EAD"
									d="M12.383.034a2.515 2.515 0 0 0-1.903 1.788l-.062.217-.008 2.945-.008 2.945-2.498.01c-2.48.009-2.501.009-2.726.069a2.523 2.523 0 0 0-1.837 1.866c-.043.171-.046.643-.054 6.205l-.008 6.023H2.227c-.596 0-1.089.011-1.143.027a.689.689 0 0 0-.36.306c-.057.109-.06.144-.06.778.003.593.008.688.062.905.22.878.851 1.534 1.745 1.81l.198.062 5.46.008c3.78.006 5.519-.002 5.649-.021.748-.114 1.455-.64 1.81-1.341.119-.242.208-.57.236-.89.016-.189.027-2.44.027-5.944v-5.64l1.62-.009c1.612-.008 1.617-.008 1.731-.068a.689.689 0 0 0 .306-.36c.036-.125.036-1.482 0-1.707a2.476 2.476 0 0 0-1.696-1.959c-.38-.12-.574-.127-3.465-.127h-2.723V5.089c0-2.714.002-2.85.051-3.007a1.3 1.3 0 0 1 .68-.772l.176-.084 4.764-.008a688.87 688.87 0 0 1 4.76.002c0 .008-.043.103-.095.217a3.244 3.244 0 0 0-.154.43l-.062.226-.014 6.895c-.014 6.238-.019 6.907-.057 7.01-.17.441-.539.748-.991.823a1.246 1.246 0 0 1-1.366-.834c-.054-.163-.062-.258-.076-.821-.016-.629-.016-.64-.087-.737a.841.841 0 0 0-.143-.16c-.16-.124-.247-.133-1.526-.133h-1.2v1.22h1.753l.016.346c.02.434.084.667.312 1.122.005.014-.46.022-1.035.022h-1.046v1.222l2.27-.011c1.949-.008 2.293-.016 2.445-.051.92-.223 1.576-.84 1.86-1.748l.077-.239.008-5.914.005-5.912h1.58c.973 0 1.615-.011 1.674-.027a.62.62 0 0 0 .364-.282l.08-.133v-.816c0-.755-.005-.834-.062-1.056-.222-.88-.85-1.534-1.744-1.81l-.198-.062L18.6 0c-4.959-.003-6.075.003-6.218.033Zm12.203 1.232c.344.109.68.442.791.794.03.092.049.274.057.526l.014.387h-2.504l.01-.4c.012-.323.025-.429.074-.55.133-.347.442-.65.77-.754a1.47 1.47 0 0 1 .788-.003Zm-9.63 7.907a.27.27 0 0 1-.037.075c-.07.1-.201.458-.244.67-.038.184-.044.92-.044 6.95 0 4.725-.008 6.79-.03 6.903a1.299 1.299 0 0 1-.336.648c-.58.596-1.606.444-1.98-.29-.127-.25-.146-.371-.146-.96 0-.639-.022-.734-.204-.902a.652.652 0 0 0-.22-.135c-.072-.022-1.218-.03-3.66-.03H4.498v-5.89c0-3.804.01-5.94.027-6.034.043-.239.195-.515.374-.678.165-.151.412-.281.604-.32.15-.03 9.454-.037 9.454-.007Zm2.347.008c.385.07.712.322.897.69l.103.212.01.428.009.428H15.85v-.376c0-.29.01-.415.048-.54a1.25 1.25 0 0 1 .895-.829 1.01 1.01 0 0 1 .509-.013Zm-6.384 14.314c0 .38.128.93.274 1.176a.656.656 0 0 1 .052.103c0 .005-1.878.01-4.17.01-4.119 0-4.173 0-4.349-.054-.222-.07-.48-.26-.618-.458a1.234 1.234 0 0 1-.23-.701l-.016-.25h9.057v.174Z"
								></path>
								<path
									fill="#1F4EAD"
									d="M5.85 10.747a.519.519 0 0 0-.163.154l-.062.103v1.03c0 1.143-.003 1.132.182 1.265l.089.063 3.66.008 3.66.005.09-.06a.794.794 0 0 0 .147-.138c.054-.076.056-.103.056-1.143 0-1.035-.002-1.068-.056-1.14a.74.74 0 0 0-.13-.13c-.074-.058-.084-.058-3.723-.063-3.563-.006-3.653-.006-3.75.046Zm6.806 1.287v.474h-6.15v-.948h6.15v.474Zm-6.801 2.643a.489.489 0 0 0-.157.14c-.055.08-.063.12-.055.26.008.15.022.182.103.266a.514.514 0 0 0 .19.122c.06.016 1.4.027 3.658.027 3.416 0 3.568-.003 3.674-.051.165-.076.24-.198.24-.388 0-.17-.05-.263-.202-.368l-.09-.06H9.583c-3.484 0-3.639.003-3.728.052Zm.065 1.733c-.17.052-.287.225-.287.425 0 .155.07.285.195.36.09.055.146.055 3.736.055h3.647l.09-.062a.415.415 0 0 0 .208-.336.421.421 0 0 0-.208-.399c-.095-.056-.117-.056-3.699-.062-1.98-.003-3.639.006-3.682.02Zm-.061 1.808a.507.507 0 0 0-.157.149c-.06.087-.068.125-.057.265.01.133.027.18.092.247.157.17-.079.16 3.836.16 3.439 0 3.59-.003 3.696-.052.165-.075.241-.197.241-.387 0-.165-.046-.255-.187-.358-.073-.057-.084-.057-3.722-.062-3.352-.005-3.658-.003-3.742.038Zm.064 1.758c-.195.07-.29.206-.29.414 0 .155.07.285.195.36.087.052.14.055 1.986.055H9.71l.097-.065a.418.418 0 0 0 .182-.401.406.406 0 0 0-.214-.334c-.09-.051-.147-.054-1.921-.06-1.496-.005-1.848 0-1.932.03ZM6.949.217a.589.589 0 0 0-.285.312c-.073.263-.002.42.312.685l.236.198-1.99.014-1.985.013-.176.063a1.633 1.633 0 0 0-.653.409 1.633 1.633 0 0 0-.41.653l-.062.176-.013 1.902-.014 1.902-.176-.225c-.217-.28-.309-.347-.501-.363a.5.5 0 0 0-.469.217c-.092.143-.111.374-.04.509.026.054.36.49.736.97.75.954.778.98 1.033.98.249 0 .287-.034 1.059-.966.393-.475.742-.916.775-.981a.44.44 0 0 0 .003-.437.505.505 0 0 0-.412-.292c-.222-.02-.347.054-.583.336l-.192.233V2.962l.065-.114c.127-.214.03-.206 2.143-.198l1.87.008-.236.185c-.257.2-.347.336-.347.523a.546.546 0 0 0 .542.525c.135-.002.3-.114 1.152-.783.95-.75.997-.796.997-1.04 0-.176-.05-.271-.217-.426C8.883 1.428 7.474.277 7.388.228a.642.642 0 0 0-.44-.01Zm16.746 17.277c-.138.063-.144.07-.957 1.055-.58.704-.682.84-.71.95a.481.481 0 0 0 .114.453c.117.133.212.173.393.173.2 0 .28-.048.496-.303a7.51 7.51 0 0 1 .193-.222c.013-.017.024.74.024 1.764v1.788l-.062.092a.544.544 0 0 1-.182.154l-.125.06-1.861-.005-1.861-.008.216-.171c.282-.222.358-.323.374-.496a.528.528 0 0 0-.317-.545.7.7 0 0 0-.409.014 23.88 23.88 0 0 0-.962.737c-.956.756-.989.788-.989 1.038 0 .243.044.292 1.024 1.102.496.41.935.754.976.764a.685.685 0 0 0 .4-.027.53.53 0 0 0 .229-.696c-.03-.06-.152-.19-.29-.303l-.233-.198 2.015-.014 2.016-.013.187-.076c.412-.163.702-.426.897-.805.168-.33.16-.23.176-2.303l.014-1.91.184.23c.23.285.333.352.534.352a.49.49 0 0 0 .417-.2.54.54 0 0 0 .046-.545c-.03-.051-.363-.485-.737-.962-.56-.712-.702-.875-.797-.92a.497.497 0 0 0-.433-.004Z"
								></path>
							</svg>
						</div>
						<h3 class="mb-2 text-xl font-bold dark:text-white">
							Ledger-agnostic & Ledger-less
						</h3>
						<p class="text-gray-500 dark:text-gray-400">
							Supports multiple ledgers such as Indy, Cheqd, Polygon. Also issue
							ledger-less VCs using did methods like did:web, did:peer, did:key
						</p>
					</div>
					<div>
						<div
							class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="21"
								height="21"
								fill="none"
								viewBox="0 0 24 24"
							>
								<path
									fill="#1F4EAD"
									d="M7.5 0h-4C1.57 0 0 1.57 0 3.5V11h11V3.5C11 1.57 9.43 0 7.5 0ZM8 8H3V3.5c0-.28.22-.5.5-.5h4c.28 0 .5.22.5.5V8Zm12.5 5h-4c-1.93 0-3.5 1.57-3.5 3.5V24h11v-7.5c0-1.93-1.57-3.5-3.5-3.5Zm.5 8h-5v-4.5c0-.28.22-.5.5-.5h4c.28 0 .5.22.5.5V21Zm3-13v3h-3V8c0-.55-.45-1-1-1h-2v3.56l-4.17-4.27c-.44-.44-.44-1.15 0-1.59L18 .44V4h2c2.21 0 4 1.79 4 4Zm-13.83 9.64c.44.44.44 1.15 0 1.59L6 23.5V20H4c-2.21 0-4-1.79-4-4v-3h3v3c0 .55.45 1 1 1h2v-3.62l4.17 4.27v-.01Z"
								></path>
							</svg>
						</div>
						<h3 class="mb-2 text-xl font-bold dark:text-white">
							Multiple credential exchange formats
						</h3>
						<p class="text-gray-500 dark:text-gray-400">
							Supports multiple verifiable credential exchange formats such as
							AnonCreds, JSON-LD, JWT, etc.
						</p>
					</div>
					<div>
						<div
							class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="22"
								height="22"
								fill="none"
								viewBox="0 0 24 24"
							>
								<g clip-path="url(#a)">
									<path
										fill="#255ED0"
										d="M10.121 8.899c.186-.124.415-.236.68-.32v2.037a2.762 2.762 0 0 1-.68-.32c-.435-.291-.52-.562-.52-.7 0-.136.085-.407.52-.697Zm3.08 6.517v-2.038c.265.085.495.197.681.32.437.292.52.562.52.699 0 .137-.084.408-.52.698-.211.138-.44.245-.68.32Z"
									></path>
									<path
										fill="#1F4EAD"
										d="m12.559 10.964 8.374 7.998-5.931 5.085c-1.482 1.27-3.52 1.27-5 0l-6.39-5.477a2.88 2.88 0 0 0-1.874-.714h-.695c-.576 0-1.043-.533-1.043-1.19V3.494c0-.605.395-1.108.92-1.176 1.414-.18 2.687-.829 3.99-1.696 1.873-1.1 4.33-.708 5.85.92l.643.706-4.175 4.656c-1.117 1.276-1.295 3.294-.414 4.688.542.861 1.522 1.5 2.546 1.5.826 0 1.619-.372 2.192-1.028l1.007-1.101ZM20.786.622c-1.76-1.006-3.956-.744-5.53.653L8.692 8.599c-.386.443-.474 1.152-.189 1.604.188.298.46.476.77.506a.962.962 0 0 0 .821-.345l3.769-4.083c.989-1.072 2.421.64 1.44 1.72l-1.23 1.307 8.952 8.55h.934c.575 0 1.042-.534 1.042-1.191V3.454c0-.584-.373-1.066-.876-1.17-1.765-.364-3.339-1.66-3.339-1.66l.001-.002Z"
									></path>
								</g>
								<defs>
									<clipPath id="a">
										<path fill="#fff" d="M0 0h24v24H0z"></path>
									</clipPath>
								</defs>
							</svg>
						</div>
						<h3 class="mb-2 text-xl font-bold dark:text-white">
							Digital Public Good (DPG)
						</h3>
						<p class="text-gray-500 dark:text-gray-400">
							CREDEBL is an open-souce Digital Public Good (DPG), designed to
							host Digital Public Infrastructure (DPI) for trusted digital
							ecosystems.
						</p>
					</div>
				</div>
			</div>
			</section>
		</main>
	</div>
</astro>
