---
import { pathRoutes } from '../config/pathRoutes';

---

<astro >
	<div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
		<header>
			<nav
				class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800"
			>
				<div
					class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
				>
					<a  href="/" class="flex items-center">
						<img
							src="/images/CREDEBL_ICON.png"
							class="mr-2 h-6 sm:h-9"
							alt="CREDEBL Logo"
						/>
						<span
							class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
							>
							CREDEBL</span
						>
					</a>
					<div class="flex items-center lg:order-2">
						<a href="https://github.com/credebl" class="mr-3" target="_blank">
							<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
								<path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
							</svg>
						</a>
						<a href="https://discord.gg/w4hnQT7NJG" class="mr-3" target="_blank">
							<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 21 16">
								<path d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
							</svg>
						</a>
						<a
							href={pathRoutes.auth.sinIn}
							class="ml-3 hover:bg-secondary-700 bg-transparent ring-2 text-black font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"							
							>Sign in</a
						>
						<a
							href={pathRoutes.auth.signUp}
							class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
							>Sign Up</a
						>
						<button
							data-collapse-toggle="mobile-menu-2"
							type="button"
							class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
							aria-controls="mobile-menu-2"
							aria-expanded="false"
						>
							<span class="sr-only">Open main menu</span>
							<svg
								class="w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
									clip-rule="evenodd"></path></svg
							>
							<svg
								class="hidden w-6 h-6"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</button>
					</div>
					<!-- <div
						class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
						id="mobile-menu-2"
					>
						<ul
							class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
						>
							<li>
								<a
									href="/"
									class="block py-2 pr-4 pl-3 text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"
									aria-current="page">Home</a
								>
							</li>
							<li>
								<a
									href="https://discord.gg/w4hnQT7NJG"
									target="_blank"
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>Community</a
								>
							</li>
						</ul>
					</div> -->
				</div>
			</nav>
		</header>
		<main class="grow" transition:animate="slide">
			<section class="bg-white dark:bg-gray-900">
				<div
					class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
				>
					<a
						href="https://github.com/credebl/platform/releases"
						class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700"
						role="alert"
					>
						<span
							class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3"
							>New</span
						>
						<span class="text-sm font-medium"
							>CREDEBL 2.0 is out! See what's new</span
						>
						<svg
							class="ml-2 w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
								clip-rule="evenodd"></path></svg
						>
					</a>
					<h1
						class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white"
					>
						Build Self-Sovereign Identity (SSI) solutions faster - for global scale.
					</h1>
					<p
						class="mt-10 mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
					>
						CREDEBL aims to significantly reduce the tedious work required to build SSI solutions from scratch.
					</p>
					<div
						class="flex flex-col mt-10 mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
					>
						<a
						href="https://docs.credebl.id"
						class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
						>
							Get Started
							<svg
								class="ml-2 -mr-1 w-5 h-5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
									clip-rule="evenodd"></path></svg
							>
						</a>
					</div>

				</div>
			</section>

			<!-- CTA Section -->
			<section class="bg-gray-50 dark:bg-gray-900">
				<div class="py-4 px-4 mx-auto max-w-screen-xl sm:py-4 lg:px-6">
					<div class="py-8 lg:py-4 mx-auto mb-8 lg:mb-16">
						<h2
							class="mb-4 text-4xl tracking-tight leading-tight text-center font-extrabold text-gray-900 dark:text-white"
						>
							Build trusted digital ecosystems using the SSI core.
						</h2>
						<p class="text-gray-500 sm:text-xl dark:text-gray-400 text-center">
							CREDEBL helps you build trusted digital ecosystems, by leveraging global standards of <a href="https://www.w3.org/TR/did-core/" target="_blank">W3C Decentralized Identifiers (DID)</a> & <a href="https://www.w3.org/TR/vc-data-model/" target="_blank">Verifiable Credentials (VC)</a> standards.
						</p>
					</div>
					<div
						class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
					>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg
									class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
										clip-rule="evenodd"></path></svg
								>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Open Standards & Open Source
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Built upon open standards of W3C Decentralized Identifiers, Verifiable Credentials, DIF Protocols & Hyperledger Aries.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg
									class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
									></path></svg
								>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Legder-agnostic & Ledger-less
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Supports multiple ledgers such as Indy, Cheqd, Polygon. Also issue ledger-less VCs using did methods like did:web, did:peer, did:key
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg
									class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
										clip-rule="evenodd"></path><path
										d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
									></path></svg
								>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Multiple credential exchange formats
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Supports multiple verifiable credential exchange formats such as AnonCreds, JSON-LD, JWT, etc.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg
									class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"
									></path><path
										fill-rule="evenodd"
										d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
										clip-rule="evenodd"></path></svg
								>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Digital Public Good (DPG)
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								CREDEBL is an open-souce Digital Public Good (DPG), designed to host Digital Public Infrastructure (DPI) for trusted digital ecosystems.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg
									class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
									></path></svg
								>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Self-host on your cloud infra
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								You can self-host the entire CREDEBL platform and it's components on your organization's cloud infrastructure of choice.
							</p>
						</div>
						<div>
							<div
								class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
							>
								<svg
									class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg"
									><path
										fill-rule="evenodd"
										d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
										clip-rule="evenodd"></path></svg
								>
							</div>
							<h3 class="mb-2 text-xl font-bold dark:text-white">
								Enterprise Grade, Large Scale
							</h3>
							<p class="text-gray-500 dark:text-gray-400">
								Build for large scale using highly scalable micro-services architecture, and asynchronous message-driven communication.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
					<div class="mx-auto flex w-full max-w-7xl flex-col items-center gap-12">
						<div class="flex max-w-2xl flex-col items-center justify-center gap-4">
							<h2
								class="text-center text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white lg:text-4xl">
								In-CREDEBL Team
							</h2>
							<p class="text-lg text-gray-500 dark:text-gray-400 text-center">
								Join our team & a community of open-source contributors by tuning in with
								the CREDEBL Discord channel and become one of the highlighted members.
							</p>
						</div>
						<div class="flex max-w-5xl flex-col gap-3 px-4 lg:px-8">
							<div class="flex flex-wrap items-center justify-center gap-3">
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/ajile-in">
										<img src="https://avatars.githubusercontent.com/u/1891293?v=4" alt="ajile-in avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r0:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">ajile-in</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 61.5px;">
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/kkkulkarni">
										<img src="https://avatars.githubusercontent.com/u/24851339?v=4" alt="kkkulkarni avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r0:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">kkkulkarni</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 61.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/amitayanworks"><img
											src="https://avatars.githubusercontent.com/u/142207827?v=4" alt="amitayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r8:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">amitayanworks</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 44px;">
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/nishad-ayanworks">
										<img src="https://avatars.githubusercontent.com/u/103021375?v=4"
											alt="nishad-ayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r2:" role="tooltip" style="position: absolute; ">
									<div class="relative z-20">nishad-ayanworks</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 45px;">
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/KulkarniShashank"><img
											src="https://avatars.githubusercontent.com/u/44693969?v=4" alt="KulkarniShashank avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r4:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">KulkarniShashank</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 44px;">
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/tipusinghaw"><img
											src="https://avatars.githubusercontent.com/u/126460794?v=4" alt="tipusinghaw avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":ra:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">tipusinghaw</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 50.5px;">
										&nbsp;
									</div>
								</div>

								
								
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/vivekayanworks"><img
											src="https://avatars.githubusercontent.com/u/88733247?v=4" alt="vivekayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rc:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">vivekayanworks</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 41.5px;">
										&nbsp;
									</div>
								</div>
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/Sheetal-ayanworks"><img
											src="https://avatars.githubusercontent.com/u/125483294?v=4"
											alt="Sheetal-ayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":re:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">Sheetal-ayanworks</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 40.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/amitpadmani-awts"><img
											src="https://avatars.githubusercontent.com/u/27995665?v=4" alt="amitpadmani-awts avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">amitpadmani-awts</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 40px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/sairanjit"><img
											src="https://avatars.githubusercontent.com/u/34263716?v=4" alt="sairanjit avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">sairanjit</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 40px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/makrandshinde"><img
											src="https://avatars.githubusercontent.com/u/131651805?v=4" alt="makrandshinde avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">makrandshinde</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 40px;">
										&nbsp;
									</div>
								</div>


								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/poonam-ghewande"><img
											src="https://avatars.githubusercontent.com/u/133869533?v=4" alt="poonam-ghewande avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":rg:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">poonam-ghewande</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 40px;">
										&nbsp;
									</div>
								</div>
								
								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/yogeshayanworks"><img
											src="https://avatars.githubusercontent.com/u/107561764?v=4" alt="yogeshayanworks avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">yogeshayanworks</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/16-karan"><img
											src="https://avatars.githubusercontent.com/u/141734327?v=4" alt="16-karan avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">16-karan</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/Girish9960"><img
											src="https://avatars.githubusercontent.com/u/126439771?v=4" alt="Girish9960 avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">Girish9960</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/bhavanakarwade"><img
											src="https://avatars.githubusercontent.com/u/137506897?v=4" alt="bhavanakarwade avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">bhavanakarwade</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/sunilbade"><img
											src="https://avatars.githubusercontent.com/u/126459604?v=4" alt="sunilbade avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">sunilbade</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/sayali-chavan96"><img
											src="https://avatars.githubusercontent.com/u/133863994?v=4" alt="sayali-chavan96 avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">sayali-chavan96</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/MoulikaKulkarni"><img
											src="https://avatars.githubusercontent.com/u/143073666?v=4" alt="MoulikaKulkarni avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">MoulikaKulkarni</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>


								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/ashwini-aher"><img
											src="https://avatars.githubusercontent.com/u/126259838?v=4" alt="ashwini-aher avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">ashwini-aher</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/pranalidhanavade"><img
											src="https://avatars.githubusercontent.com/u/137780597?v=4" alt="pranalidhanavade avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">pranalidhanavade</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

								<div class="w-fit" data-testid="flowbite-tooltip-target">
									<a class="cursor-pointer" href="https://github.com/RinkalBhojani"><img
											src="https://avatars.githubusercontent.com/u/51080327?v=4" alt="RinkalBhojani avatar"
											class="h-10 w-10 rounded-full bg-gray-100 text-gray-600 dark:bg-gray-600 dark:text-gray-300 sm:h-12 sm:w-12 lg:h-16 lg:w-16" /></a>
								</div>
								<div data-testid="flowbite-tooltip" tabindex="-1"
									class="absolute inline-block z-10 rounded-lg py-2 px-3 text-sm font-medium shadow-sm transition-opacity duration-300 invisible opacity-0 bg-gray-900 text-white dark:bg-gray-700"
									id=":r6:" role="tooltip" style="position: absolute;">
									<div class="relative z-20">RinkalBhojani</div>
									<div class="absolute z-10 h-2 w-2 rotate-45 bg-gray-900 dark:bg-gray-700"
										data-testid="flowbite-tooltip-arrow" style="bottom: -4px; left: 43.5px;">
										&nbsp;
									</div>
								</div>

			
							</div>
						</div>
						<div class="flex w-full max-w-5xl flex-row items-center justify-between lg:px-4">
							<div
								class="flex w-full flex-col items-start justify-between gap-4 rounded-lg bg-gray-50 p-4 dark:bg-gray-800 sm:flex-row sm:items-center sm:gap-8">
								<div class="hidden lg:flex items-center justify-center lg:w-fit">
									<svg class="w-8 h-8 text-blue-600 dark:text-blue-500" aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
										<path
											d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z">
										</path>
										<path
											d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z">
										</path>
									</svg>
								</div>
								<div class="flex w-full flex-col">
									<h2 class="text-left text-xl font-bold tracking-tight text-gray-900 dark:text-white">
										Join Discord Community
									</h2>
									<p class="text-gray-500 dark:text-gray-400">
										Become a member of a community of SSI developers by supporting CREDEBL
									</p>
								</div><a
									class="flex items-center gap-2 whitespace-nowrap text-base font-medium text-blue-700 dark:text-blue-600 hover:underline"
									href="https://discord.gg/w4hnQT7NJG">Join discord <svg class="w-2.5 h-2.5" aria-hidden="true"
										xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
											d="m1 9 4-4-4-4"></path>
									</svg></a>
							</div>
						</div>
					</div>
				</div>
			</section>


			<footer class="p-4 bg-gray-200 md:p-8 lg:p-10 dark:bg-gray-800">
				<div class="mt-4 mx-auto max-w-screen-xl text-center">
					<a
						class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white"
					>
						<img
							src="/images/CREDEBL_ICON.png"
							class="mr-2 h-6 sm:h-9"
							alt="CREDEBL Logo"
						/>
						CREDEBL
					</a>
					<p class="my-6 mb-8 text-gray-500 dark:text-gray-400">
						Open-source self-soveriegn identity (SSI) platform to build robust,
						privacy-enhancing identity & digital credential solutions.
					</p>
					<span
						class="mt-8 text-sm text-gray-500 sm:text-center dark:text-gray-400"
					>
					&copy; 2019-{new Date().getFullYear()} <a
							href="https://blockster.global"
							target="_blank">Blockster Labs Private Limited.</a
						> All Rights Reserved.</span
					>
				</div>
			</footer>
		</main>
	</div>
	
</astro>
