
<footer class="w-full fixed bottom-0 bg-white text-center text-white insect-x-0 p-4">

    <div class="dark:bg-gray-700 md:flex md:items-center md:justify-between">
		<p class="text-sm text-center text-gray-500">
			&copy; 2019 - {new Date().getFullYear()} -
			<a class="hover:underline" target="_blank"
				>CREDEBL</a
			> | All rights reserved.
		</p>
		
      </div>
</footer>
