
<!-- <footer class="w-full  bg-white text-center text-white insect-x-0 p-4"> -->
<footer class="z-50 w-full bg-white border-b border-gray-200 sm:py-2 dark:bg-gray-800 dark:border-gray-700 insect-x-0">
	<div class="container mx-auto">

    <div class="dark:bg-gray-700 md:flex md:items-center md:justify-between p-4">
		<p class="text-sm text-center text-gray-500">
			&copy; 2019 - {new Date().getFullYear()} -
			<a class="hover:underline" target="_blank"
				>CREDEBL</a
			> | All rights reserved.
		</p>
		
      </div>
	  </div>
</footer>
