---
import '../common/global.css';
import 'react-toastify/dist/ReactToastify.css';
import CopyrightNotice from '../components/CopyrightNotice.astro';
import ErrorNotFound from '../modules/ErrorNotFound.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from './NavBarSidebar.astro';
import NavBarStacked from './NavBarStacked.astro';
import SideBar from './SideBar.astro';

const { notFoundPage } = Astro.props || {};
---

<LayoutCommon>
	{notFoundPage ? <NavBarStacked /> : <NavBarSidebar />}

	{
		notFoundPage ? (
			<ErrorNotFound />
		) : (
			<>
				<SideBar />
				<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
					<div
						id="main-content"
						class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 min-h-screen flex justify-between flex-col"
						style="min-height: calc(100vh - 64px);"
					>
						<slot />

						<CopyrightNotice />
					</div>
				</div>
			</>
		)
	}
</LayoutCommon>
