---
import FooterSignInSignUp from './FooterSignInSignUp.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSignInSignUp from './NavBarSignInSignUp.astro';
---

<NavBarSignInSignUp />

<LayoutCommon>
	<div class="flex flex-col min-h-screen">
				
		<slot />
	<FooterSignInSignUp />
</div>
</LayoutCommon>

