---
---

<nav
	class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 sm:py-2 dark:bg-gray-800 dark:border-gray-700 "
>
	<div class="container py-1 mx-auto">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<a class="flex mr-4" href='/'>
					<img
						src='/images/CREDEBL_ICON.png'
						class="h-8 mr-3"
						alt="CREDEBL Logo"
					/>
					<span
						class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
						>CREDEBL</span
					>
				</a>			
			</div>


		</div>
	</div>

</nav>
