---
import NavBarSidebar from "./NavBarSidebar.astro";

---

	<NavBarSidebar/>
	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 min-h-screen flex justify-between flex-col"
			style="min-height: calc(100vh - 64px);"
		>
			<slot />

		</div>
	</div>
