@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@import './theme.css';

:root {
    --background: #faf7f5;
    --foreground: #002f61;
    --card: #faf7f5;
    --card-foreground: #002f61;
    --popover: #faf7f5;
    --popover-foreground: #002f61;
    --primary: #ce9201;
    --primary-foreground: #ffffff;
    --secondary: #009afa;
    --secondary-foreground: #ebeaea;
    --muted: #f0ebe8;
    --muted-foreground: #57534e;
    --accent: #f8ecb9;
    --accent-foreground: #a46705;
    --destructive: #c12701;
    --destructive-foreground: #ffffff;
    --border: #f5e8d2;
    --input: #f5e8d2;
    --ring: #a46705;
    --chart-1: #ffb239;
    --chart-2: #009afa;
    --chart-3: #002f61;
    --chart-4: #ce9201;
    --chart-5: #a46705;
    --sidebar: #f0ebe8;
    --sidebar-foreground: #002f61;
    --sidebar-primary: #a46705;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #fef3c7;
    --sidebar-accent-foreground: #a46705;
    --sidebar-border: #f5e8d2;
    --sidebar-ring: #a46705;
    --font-sans: Poppins, sans-serif;
    --font-serif: Libre Baskerville, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
    --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
    --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
    --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
    --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 2px 4px -3px hsl(0 63% 18% / 0.12);
    --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 4px 6px -3px hsl(0 63% 18% / 0.12);
    --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 8px 10px -3px hsl(0 63% 18% / 0.12);
    --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.30);
  }
  
  .dark {
    --background: #1c1917;
    --foreground: #f5f5f4;
    --card: #292524;
    --card-foreground: #f5f5f4;
    --popover: #292524;
    --popover-foreground: #f5f5f4;
    --primary: #fbbf24;
    --primary-foreground: #002f61;
    --secondary: #009afa;
    --secondary-foreground: #002f61;
    --muted: #292524;
    --muted-foreground: #d6d3d1;
    --accent: #b45309;
    --accent-foreground: #fef3c7;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #44403c;
    --input: #002f61;
    --ring: #f59e0b;
    --chart-1: #009afa;
    --chart-2: #ce9201;
    --chart-3: #a46705;
    --chart-4: #fbbf24;
    --chart-5: #f59e0b;
    --sidebar: #1c1917;
    --sidebar-foreground: #f5f5f4;
    --sidebar-primary: #a46705;
    --sidebar-primary-foreground: #faf7f5;
    --sidebar-accent: #b45309;
    --sidebar-accent-foreground: #fef3c7;
    --sidebar-border: #002f61;
    --sidebar-ring: #ce9201;
    --font-sans: Poppins, sans-serif;
    --font-serif: Libre Baskerville, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
    --shadow-xs: 1px 1px 16px -2px hsl(0 63% 18% / 0.06);
    --shadow-sm: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
    --shadow: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 1px 2px -3px hsl(0 63% 18% / 0.12);
    --shadow-md: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 2px 4px -3px hsl(0 63% 18% / 0.12);
    --shadow-lg: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 4px 6px -3px hsl(0 63% 18% / 0.12);
    --shadow-xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.12), 1px 8px 10px -3px hsl(0 63% 18% / 0.12);
    --shadow-2xl: 1px 1px 16px -2px hsl(0 63% 18% / 0.30);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }