:root {
  --background: #ffffff;
  --foreground: #111826;
  --card: #ffffff;
  --card-foreground: #111826;
  --popover: #ffffff;
  --popover-foreground: #111826;
  --primary: #f6d308;
  --primary-foreground: #000000;
  --secondary: #f5f5f5;
  --secondary-foreground: #364050;
  --muted: #f5f5f5;
  --muted-foreground: #6c727e;
  --accent: #fbf3c6;
  --accent-foreground: #000000;
  --destructive: #df2224;
  --destructive-foreground: #ffffff;
  --border: #e4e8ef;
  --input: #e4e8ef;
  --ring: #f6d308;
  --chart-1: #fff185;
  --chart-2: #f0b100;
  --chart-3: #c18400;
  --chart-4: #894a00;
  --chart-5: #733e0a;
  --sidebar: #f2f2f2;
  --sidebar-foreground: #111826;
  --sidebar-primary: #c18400;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fbf3c6;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #e4e8ef;
  --sidebar-ring: #f6d308;
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}

.dark {
  --background: #1c2433;
  --foreground: #e4e8ef;
  --card: #252e3d;
  --card-foreground: #e4e8ef;
  --popover: #252e3d;
  --popover-foreground: #e4e8ef;
  --primary: #0265fd;
  --primary-foreground: #ffffff;
  --secondary: #2f3b50;
  --secondary-foreground: #e4e8ef;
  --muted: #252e3d;
  --muted-foreground: #9ba2ae;
  --accent: #2b354a;
  --accent-foreground: #e4e8ef;
  --destructive: #f14444;
  --destructive-foreground: #ffffff;
  --border: #2f3b50;
  --input: #2f3b50;
  --ring: #0265fd;
  --chart-1: #0265fd;
  --chart-2: #0152cb;
  --chart-3: #4c9bff;
  --chart-4: #0d49a5;
  --chart-5: #162a4e;
  --sidebar: #1c2433;
  --sidebar-foreground: #e4e8ef;
  --sidebar-primary: #0265fd;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2b354a;
  --sidebar-accent-foreground: #e4e8ef;
  --sidebar-border: #2f3b50;
  --sidebar-ring: #0265fd;
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
