<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2019 - {new Date().getFullYear()}
	<a class="hover:underline" target="_blank"
		> Blockster Labs Private Limited</a
	> | All rights reserved.
</p>
