---
import { envConfig } from "../config/envConfig"

const copyright = envConfig.PLATFORM_DATA.poweredBy
---

<p class="my-10 text-sm text-center text-gray-500">
    &copy; Credebl a Series of LF Projects, LLC | For web site terms of use, trademark policy and other project policies please see  
    <a href="https://lfprojects.org/" target="_blank" class="hover:underline hover:underline-offset-2"
    >https://lfprojects.org.</a>
</p>
