---
import { envConfig } from "../config/envConfig"

const copyright = envConfig.PLATFORM_DATA.poweredBy
---

<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2019 - {new Date().getFullYear()}
	<a class="hover:underline" target="_blank"
		>{copyright}</a
	> | All rights reserved.
</p>
