{
  "arrowParens": "always",
  "bracketSpacing": true,
  "prettier/prettier": ["warn", { "semi": false }],
  "useTabs": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
