.custom-shadow-blue {
  box-shadow: -4px 0px 50px 0px rgba(31, 78, 173, 0.50);
}

.min-h-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 64px);
}

input[type="radio"] {
  @apply !text-primary-700;
}

ul[role="tablist"] li[role="presentation"] button[aria-selected="true"] {
  @apply text-primary-700 border-primary-700;
}